html {
    color: darkslategray;
    background-color: #fffefd;
}

body {
    padding-top: 3rem;
    font-size: 22px;
}

.purchased-false {
    height: 40px;
    background-color: red;
}

.purchased-true {
    height: 40px;
    background-color: green;
}

.strikethrough {
    text-decoration: line-through;
    color: slategray;
}

h1 {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.project-item img {
    width: 100%;
}

.project-item .daysLeft {
    color: darkorange;
    font-weight: bold;
}

.project-item .donorsCount, .project-item .amtDonated {
    font-weight: bold;
}

.project-item .pnlBody {
    padding: 0 15px;
}
.project-item .pnlBody div{
    padding: 10px 0px;
}

.project-item .progress, .project-item .form-control, .project-item .panel, .project-item .btn.btn-success {
    border-radius: 0px;
}

.project-item .donateForm {
    margin: 40px;
}

.project-item .donateForm input {
    margin-right: 45px;
    font-size: 32px;
    width: 190px;
    padding: 30px;
    text-align: center;
}

.project-item .donateForm button {
    font-size: 32px;
    width: 190px;
    padding: 8px 30px;
    text-align: center;
}

.project-addItem {
    margin-top: 1rem;
    padding-top: 1rem;
}